set_io -nowarn clk_in 35
set_io -nowarn uart_tx 21
set_io -nowarn uart_rx 12
set_io -nowarn usb_dp_pad 26
set_io -nowarn usb_dn_pad 27
set_io -nowarn led[0] 39
set_io -nowarn led[1] 40
set_io -nowarn led[2] 41
