set_io -nowarn clk_in 35
set_io -nowarn uart_tx 9
set_io -nowarn uart_rx 6
set_io -nowarn usb_dp_pad 31
set_io -nowarn usb_dn_pad 34
set_io -nowarn led[0] 39
set_io -nowarn led[1] 40
set_io -nowarn led[2] 41
